<!-- negocio/templates/base_menu.html -->
{% extends 'base_generic.html' %}

{% block title %}
  {% block menu_title %}{% endblock %}
{% endblock %}

{% block content %}
  <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: center; /* Centra todo el contenido principal */
    }

    header {
        background-color: var(--color-terciario);
        padding: 10px;
        color: var(--color-secundario);
    }

    .modal {
      display: none; /* Oculto por defecto */
      position: fixed;
      z-index: 1;
      right: 0;
      top: 0;
      width: 30%; /* Ancho del modal */
      height: 100%;
      overflow: auto;
      background-color: transparent; /* Fondo transparente */
      padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 90%; /* Ancho del contenido del modal */
        max-width: 300px;
        text-align: center;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    h1 {
        margin-bottom: 1rem; /* Espaciado debajo del h1 */
    }
  </style>

  {% block menu_content %}{% endblock %}
{% endblock %}