{% extends 'base_generic.html' %}
{% block title %}
  Mi sitio - {{ negocio.nombre }}
{% endblock %}
{% block content %}
  <body>
    <div class="user-info">
      {% if user.is_authenticated %}
        <h1>Bienvenido {{ nombre_usuario }}</h1>

        <!-- <p>Haz clic en el botón para acceder a otras secciones:</p> -->
      {% else %}
        <h1>Bienvenido al inicio del sitio</h1>
      {% endif %}

      {% if request.user.is_authenticated and negocio %}
        {% if negocio.logo %}
          <img src="{{ negocio.logo.url }}" alt="Logo de {{ negocio.nombre }}" class="business-logo" />
        {% endif %}
        <span>{{ negocio.nombre }}</span>
      {% else %}
        <a href=""></a>
        <p>
          Puedes registrar tu negocio en <a href="{% url 'configurar_negocio' %}">Configuración del negocio</a>
        </p>
      {% endif %}
    </div>
  </body>
{% endblock %}
