{% extends 'base_generic.html' %} 
{% block title %}
  Productos
{% endblock %}
{% block content %}
  <h1>Catálogo de Productos</h1>
  <a class="btn btn-custom" href="{% url 'crear_producto' %}">Crear nuevo producto</a>

  <h2>Lista de Productos</h2>
  <div class="table-responsive-sm">
    <table class="table text-center" style="color: var(--color-secundario);">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad Disponible</th>
          <th>Activo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
          <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.cantidad_disponible }}</td>
            <!-- Estado -->
            {% if producto.activo %}
              <td>
                <form action="{% url 'cambiar_estado_producto' producto.id %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Desactivar</button>
                </form>
              </td>
            {% else %}
              <td>
                <form action="{% url 'cambiar_estado_producto' producto.id %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success">Activar</button>
                </form>
              </td>
            {% endif %}
            <!-- Acciones -->
            <td>
              <form action="{% url 'editar_producto' producto.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit"  class="btn btn-info">Editar</button>
              </form>
  
              <form action="{% url 'eliminar_producto' producto.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit"  class="btn btn-info">Eliminar</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br />
  <a href="{% url 'inicio' %}" class="btn btn-custom">Volver al inicio</a>
{% endblock %}
