{% extends 'base_generic.html' %} 
{% block title %}
  Productos
{% endblock %}
{% block content %}
  <div class="container my-5">
    <h1 class="mb-4">Catálogo de Productos</h1>
    <a class="btn btn-custom mb-3" href="{% url 'crear_producto' %}">Crear nuevo producto</a>

    <div class="table-responsive">
      <table class="table table-striped table-bordered text-center">
        <thead class="thead-dark">
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad Disponible</th>
            <th>Activo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in productos %}
          <tr>
            <td>
              {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" alt="Imagen de {{ producto.nombre }}" class="img-fluid" style="max-width: 100px;">
              {% else %}
                No disponible
              {% endif %}
            </td>
            <td>{{ producto.nombre }}</td>
            <td class="precio">{{ producto.precio }}</td>
            <td>{{ producto.cantidad_disponible }}</td>
            <td>
              {% if producto.activo %}
                <form action="{% url 'cambiar_estado_producto' producto.id %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Desactivar</button>
                </form>
              {% else %}
                <form action="{% url 'cambiar_estado_producto' producto.id %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success">Activar</button>
                </form>
              {% endif %}
            </td>
            <td>
              <form action="{% url 'editar_producto' producto.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-info">Editar</button>
              </form>
              <form action="{% url 'eliminar_producto' producto.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <a href="{% url 'inicio' %}" class="btn btn-custom mt-3">Volver al inicio</a>
  </div>
  <script>
    let precios = document.querySelectorAll('.precio');
    function formatNumber() {
      precios.forEach(function(precio) {
        let formattedNumber = parseFloat(precio.innerText.replace(',', '.')).toFixed(2);
        if (isNaN(formattedNumber)) {
          formattedNumber = '';
        }
        precio.textContent = formattedNumber;
      });
    }
    formatNumber();
  </script>
{% endblock %}

