<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Bienvenido
      {% endblock %}
    </title>
  </head>
  <style>
    /* Aplica los colores del negocio a la plantilla */
    
    :root {
      --color-primario: {{ negocio.color_primario }};
      --color-secundario: {{ negocio.color_secundario }};
      --color-terciario: {{ negocio.color_terciario }};
    }
          
    body {
      background-color: var(--color-primario);
      color: var(--color-secundario);
    }

    img{
      width: 50px;
      height: 50px;
    }
  </style>
  <body>
    <!-- Menú -->
    <nav>
      {% if request.user.is_authenticated %}
        <!-- Mostrar nombre y rol del usuario -->
        <div class="user-info">
          <p>
            {{ request.user.username }} <span>({{ request.user.groups.first.name }})</span>
          </p>
        </div>
        <div class="business-info">
          <img src="{{ negocio.logo.url }}" alt="Logo de {{ negocio.nombre }}" class="business-logo" />
          <p>{{ negocio.nombre }}</p>
        </div>
      {% endif %}

      <a href="/">Inicio</a>
    </nav>

    <div class="content-container">
      {% block content %}
        <!-- El contenido de la página se insertará aquí -->
      {% endblock %}
    </div>

    <br />

    {% if request.user.is_authenticated %}
      <!-- Opción para cerrar sesión -->
      <a href="{% url 'logout' %}" class="btn">Cerrar sesión</a>
    {% else %}
      <!-- Enlace para iniciar sesión si no está autenticado -->
      <a href="{% url 'login' %}" class="btn">Iniciar Sesión</a>
    {% endif %}
  </body>
</html>
