{% extends 'base_generic.html' %}
{% block title %}
  Mi sitio - {{ negocio.nombre }}
{% endblock %}
{% block content %}
  <body>
    <div class="user-info">
      {% if user.is_authenticated %}
        <h1>Bienvenido {{ nombre_usuario }}</h1>

        <p>Haz clic en el botón para acceder a otras secciones:</p>
      {% else %}
        <h1>Bienvenido al inicio del sitio</h1>
      {% endif %}
    </div>

    <div class="btn-container">
      {% if user.is_authenticated %}
        <!-- Enlace para el Administrador (Daniel) -->
        {% if es_administrador %}
          <ul>
            <li>
              <a href="{% url 'listar_usuarios' %}" class="btn">Gestion usuarios</a>
            </li>
            <li>
              <a href="{% url 'configurar_negocio' %}" class="btn">Configuracion del negocio</a>
            </li>
            <li>
              <a href="{% url 'lealtad' %}" class="btn">Programa de lealtad</a>
            </li>
          </ul>
        {% endif %}

        <!-- Enlace para el Encargado de Menú (Carlos) -->
        {% if es_encargado_menu %}
          <ul>
            <li>
              <a href="{% url 'listar_productos' %}" class="btn">Gestion productos</a>
            </li>
            <li>
              <a href="{% url 'listar_menus' %}" class="btn">Gestion menus</a>
            </li>
          </ul>
        {% endif %}

        <!-- Enlace para el Encargado de Registro de Pedidos (Kike) -->
        {% if es_encargado_registro %}
          <ul>
            <li>Registro de pedidos</li>
          </ul>
          <ul>
            <li>Historial de pedidos</li>
          </ul>
        {% endif %}

        <!-- Enlace para el Despacho de Pedidos (Kenet) -->
        {% if es_despacho %}

        {% endif %}

        <!-- Enlace para el Cliente () -->
        {% if es_cliente %}
          <ul>
            <li>Pedidos</li>
            <li>Reclamos</li>
            <li>
              <a href="{% url 'listar_menus' %}" class="btn">Menu del dia</a>
            </li>
          </ul>
        {% endif %}

        <!-- Enlace para el Repartidor () -->
        {% if es_repartidor %}
          <ul>
            <li>Pedidos</li>
          </ul>
        {% endif %}

        <br />
      {% endif %}
    </div>
  </body>
{% endblock %}
