{% extends 'base_menu.html' %}

{% block menu_title %}
  {{ platillo.nombre }}
{% endblock %}

{% block menu_content %}
  <h1 class="text-center my-4">Detalles de su Menú</h1>
  <main class="container d-flex justify-content-center align-items-center" style="min-height: 80vh; margin-top: -50px;">
    <div class="row bg-white shadow rounded p-4 w-100" style="max-width: 1200px;">
      <!-- Detalle de los productos -->
      <div class="col-md-6 mb-4">
        <h3>Detalles</h3>
        <p class="mt-4 fs-5 text-end">
          <strong>{{ platillo.nombre }}</strong></p>
        <p class="mt-4 fs-5 text-end"><strong>Total: ${{ platillo.precio }}</strong></p>
        {% if cantidad_disponible != 0 %}
        <p class="mt-4 fs-5 text-end"><strong>Cantidad Disponible: {{ cantidad_disponible }}</strong></p>
        {% else %}
        <p class="mt-4 fs-5 text-end text-danger"><strong>Producto Agotado</strong></p>
        {% endif %}
      </div>
      <!-- Imagen y botón de pago -->
      <div class="col-md-6 d-flex flex-column align-items-center">
        <div class="mb-4">
          <img src="{{ platillo.imagen.url }}" alt="Imagen del producto" class="img-fluid rounded" style="max-width: 300px; max-height: 300px;">
        </div>
        <form action="{% url 'agregar_al_carrito' platillo.id %}" method="POST" class="d-inline-block">
          {% csrf_token %}
          <input type="number" name="cantidad" min="1" max="{{ cantidad_disponible }}" value="1" class="form-control mb-2" required>
          <button type="submit" class="btn btn-primary mb-2">Agregar al Carrito</button>
        </form>
        <div class="d-flex justify-content-center">
          <a href="{% url 'menu_del_dia' %}" class="btn btn-secondary mb-2 mx-2">Regresar</a>
          <a href="{% url 'ver_carrito' %}" class="btn btn-warning mb-2 mx-2">Ver Carrito</a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
